.row
each project in projects
   .col-sm-3
      .bg-warning.panel.panel-default.project-panel
         .panel-body
            h2= project.title
            div.small= project.img
            if project.tags
               each tag in project.tags
                  span=tag
                  span
            a(href=project.path) More
