extends main

block content
  header.bg-success.text-center
    .container
      .row
        .col-lg-12
          img(src=config.site.img, width=256, height=256).img-responsive.header-image
          .intro-text
            span.name= config.site.name
            hr.star-light
            span.description= config.site.description

  article.project-list.container#projects
    .row
      .col-lg-12.text-center
        h1 Open Source Projects
        hr.star-primary

    include ./partials/projectsList

  article.project-list.bg-success#about
    .container
      .row
        .col-lg-12.text-center
          h1 About
          hr.star-light

          | I'm full stack developer. My tech stack is MEAN.
          | But I also have experience with python, mathematics and AI.
          | I'm passionate about technologies, open source, DIY
          | and open for collaboration. So if you have project
          | that we can bind with my projects please call me.
