extends main

block content
  .container
    .jumbotron
      h1 title
      p!= contents
      p
        .row
          .col-sm-3.col-sm-offset-9.text-right
            a(href='/').btn.btn-default back
            span &nbsp;
            a(href=url, target='_blank').btn.btn-primary try it
